html, body{
  height: 100%;
  margin: 0px;
}
body{
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
}
a{
  color: #60f;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
table{
  margin: 2px;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0px;
}
td{
  padding: 0px 4px;
  border: 1px #000 solid;
  border-style: none solid solid none;
  text-align: center;
}
table tr:nth-child(1) td{
  border-top-style: solid;
}
table tr td:nth-child(1){
  border-left-style: solid;
}
ul{
  width: fit-content;
  margin: 0;
  padding: 2px 4px 2px 20px;
  text-align: left;
}
ul ul{
  padding: 0 0 0 20px;
}
img{
  margin: 4px 2px 0px;
}
select{
  height: 20px;
  margin: 1px 4px;
  font-family: monospace;
}
input{
  height: 14px;
  margin: 1px 4px;
  font-family: monospace;
  text-align: center;
}
input[type=checkbox]{
  width: 16px;
  height: 16px;
  margin: 3px 4px 0px 4px;
}
button{
  height: 20px;
  margin: 1px 4px;
  font-size: 12px;
  font-family: monospace;
  text-align: center;
}

.headMainWrapper{
  min-width: 1000px;
  min-height: calc(100% - 108px);
}
.head{
  min-width: 1000px;
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #fd9;
}
.head-homeButton{
  margin: 5px 8px 5px 10px;
  height: 40px;
}
.head-title{
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}
.head-nav{
  margin-left: 6px;
  height: 50px;
  align-items: center;
}
.head-nav a{
  padding: 2px 6px 3px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #730;
}
.head-nav a:hover{
  text-decoration: none;
  background-color: #fec;
}
.mainWrapper{
  display: flex;
  justify-content: center;
}
.main{
  width: 1000px;
  margin-top: 8px;
}
.main-contents{
  width: 200px;
  height: fit-content;
  margin-left: 6px;
  padding: 4px;
  position: sticky;
  top: 58px;
  border-radius: 6px;
  background-color: #fffb;
}
.main-contents-group{
  font-size: 14px;
  font-weight: bold;
}
.main-contents-link{
  margin-left: 10px;
  font-size: 12px;
}
.main-article{
  width: 760px;
  height: fit-content;
  margin-left: 8px;
  padding: 8px;
  border-radius: 6px;
  background-color: #fffb;
  font-size: 16px;
  word-break: break-all;
  word-wrap: break-word;
}
.main-article-paragraph{
  margin-top: 12px;
  padding: 6px;
  border-radius: 4px;
  background-color: #fff;
}
.main-article-title-h1{
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #aaa solid;
  font-size: 26px;
  font-weight: bold;
}
.main-article-title-h2{
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #aaa solid;
  font-size: 20px;
  font-weight: bold;
}
.main-article-foot{
  margin-top: 12px;
}
.main-error{
  padding: 4px 6px;
  position: absolute;
  border: 2px #000 solid;
  border-radius: 4px;
  background-color: #8ff;
  display: none;
  opacity: 0;
}
.foot{
  min-width: 1000px;
  height: 100px;
  margin-top: 8px;
  background-color: #fd9;
  font-size: 12px;
  text-align: center;
}
.foot-info{
  padding-top: 14px;
}

.table-style1 > tbody > tr:nth-child(2n+2){
  background-color: #fff;
}
.table-style1 > tbody > tr:nth-child(2n+1){
  background-color: #eee;
}
.table-style1 > tbody > tr:nth-child(1){
  background-color: #9bf;
  font-weight: bold;
}
.table-noBorder > tbody > tr > td{
  border-style: none;
}
.table-noPadding > tbody > tr > td{
  padding: 0;
}
.flex-start{
  display: flex;
}
.calcWrapper{
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #ddd;
}
.pve_fame-table-tr{
  padding: 4px;
  font-size: 13px;
  text-align: left;
}
.menu-title{
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
}
.menu-list{
  border: 1px #aaa solid;
}
.menu-list div{
  padding-left: 4px;
}
.menu-list div:nth-child(2n+1){
  background-color: #eee;
}
.sliver{
  display: flex;
  justify-content: center;
}
.sliver img{
  margin: 0 3px;
  height: 18px;
  content: url("../image/icon_/sliver.webp");
}
.fame{
  display: flex;
  justify-content: center;
}
.fame img{
  margin: 0 3px;
  height: 18px;
  content: url("../image/icon_/fame.webp");
}
.MT2px{
  margin-top: 2px;
}
.x-bar{
  margin: 0;
  border-collapse: separate;
  border-spacing: 2px;
  color: #fff;
  text-align: center;
}
.x-bar td{
  padding: 0;
  height: 20px;
  border: 0 #000 solid;
}
.x-bar td:nth-child(1){
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.x-bar td:nth-last-child(1){
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.x-bar-legend{
  display: flex;
  justify-content: flex-start;
}
.x-bar-legend div{
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.x-bar-legend div:nth-child(n+2){
  margin-left: 16px;
}
.x-bar-legend span{
  margin: 0 4px 0 4px;
}

.bold{font-weight: bold;}
.red{color: #f00;}
.blue{color: #00f;}

.bg-white{background-color: #fff;}

.bg-a0{background-color: #8bf;}
.bg-a1{background-color: #fe8;}
.bg-a2{background-color: #f99;}
.bg-a3{background-color: #aaa;}

.bg-T1{background-color: #bbb;}
.bg-T2{background-color: #cba;}
.bg-T3{background-color: #8c8;}
.bg-T4{background-color: #8be;}
.bg-T5{background-color: #e99;}
.bg-T6{background-color: #eb8;}
.bg-T7{background-color: #ee8;}
.bg-T8{background-color: #eee;}

.bg-l0{background-color: #eee;}
.bg-l1{background-color: #8f8;}
.bg-l2{background-color: #8ff;}
.bg-l3{background-color: #f8f;}
.bg-l4{background-color: #ff8;}

.bg-q0{background-color: #bbb;}
.bg-q1{background-color: #bce;}
.bg-q2{background-color: #cba;}
.bg-q3{background-color: #eee;}
.bg-q4{background-color: #fe9;}

.bg-m0{background-color: #eee;}
.bg-m1{background-color: #f88;}
.bg-m2{background-color: #ff8;}
.bg-m3{background-color: #fca;}
.bg-m4{background-color: #faa;}
.bg-m5{background-color: #bdf;}
.bg-m6{background-color: #ffd;}
