html, body{
  height: 100%;
  margin: 0px;
}
body{
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
}
a{
  color: #60f;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
table{
  margin: 2px;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 0px;
}
table > tbody > tr > td{
  padding: 0px 4px;
  border: 1px #000 solid;
  border-style: none solid solid none;
  text-align: center;
}
table > tbody > tr:nth-child(1) > td{
  border-top-style: solid;
}
table > tbody > tr > td:nth-child(1){
  border-left-style: solid;
}
ul{
  width: fit-content;
  margin: 0;
  padding: 2px 4px 2px 20px;
  text-align: left;
}
ul ul{
  padding: 0 0 0 20px;
}
img{
  margin: 4px 2px 0px;
}
select{
  height: 20px;
  margin: 2px 4px;
  padding: 0;
  border-radius: 2px;
  font-family: monospace;
}
input{
  height: 17px;
  margin: 2px 4px;
  padding: 0;
  font-family: monospace;
  text-align: center;
}
input[type=checkbox]{
  width: 16px;
  height: 16px;
  margin: 3px 4px 0px 4px;
}
button{
  height: 20px;
  margin: 2px 4px;
  padding: 0 4px;
  font-size: 12px;
  font-family: monospace;
  text-align: center;
}

.headMainWrapper{
  min-width: 1000px;
  min-height: calc(100% - 100px - 8px);
}
.head{
  min-width: 1000px;
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #fd9;
}
.head-homeButton{
  margin: 5px 8px 5px 10px;
  height: 40px;
}
.head-title{
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}
.head-nav{
  margin-left: 6px;
  height: 50px;
  align-items: center;
}
.head-nav a{
  padding: 2px 6px 3px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #730;
}
.head-nav a:hover{
  text-decoration: none;
  background-color: #fec;
}
.mainWrapper{
  display: flex;
  justify-content: center;
}
.main{
  width: 1000px;
  margin-top: 8px;
}
.main-contentsWrapper{
  width: 200px;
  height: fit-content;
  margin-left: 6px;
  position: sticky;
  top: 58px;
  border-radius: 6px;
  background-color: #fffb;
}
.main-contents{
  max-height: calc(100vh - 200px);
  margin: 3px 5px;
  overflow: auto;
}
.main-contents::-webkit-scrollbar{
  width: 6px;
}
.main-contents::-webkit-scrollbar-track{
  margin: 2px 0;
  background-color: none;
}
.main-contents::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #0006;
}
.main-contents::-webkit-scrollbar-thumb:hover{
  border-radius: 4px;
  background-color: #000b;
}
.main-contents-group{
  font-size: 14px;
  font-weight: bold;
}
.main-contents-link{
  margin-left: 10px;
  font-size: 12px;
}
.main-article{
  width: 760px;
  height: fit-content;
  margin-left: 8px;
  padding: 8px;
  border-radius: 6px;
  background-color: #fffb;
  font-size: 16px;
  word-break: break-all;
  word-wrap: break-word;
}
.main-article-paragraph{
  margin-top: 12px;
  padding: 6px;
  border-radius: 4px;
  background-color: #fff;
}
.main-article-title-h1{
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #aaa solid;
  font-size: 26px;
  font-weight: bold;
}
.main-article-title-h2{
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #aaa solid;
  font-size: 20px;
  font-weight: bold;
}
.main-article-foot{
  margin-top: 12px;
}
.main-error{
  padding: 4px 6px;
  position: absolute;
  border: 2px #000 solid;
  border-radius: 4px;
  background-color: #8ff;
  display: none;
  opacity: 0;
  white-space: nowrap;
}
.main-bar-info{
  padding: 4px 6px;
  position: absolute;
  border: 2px #000 solid;
  border-radius: 4px;
  background-color: #fff;
  display: none;
  opacity: 0;
}
.foot{
  min-width: 1000px;
  height: 100px;
  margin-top: 8px;
  background-color: #fd9;
  font-size: 12px;
  text-align: center;
}
.foot-info{
  padding-top: 14px;
}

.select-firstOption{
  background-color: #fff;
  text-align: center;
}
.table-style1 > tbody > tr:nth-child(2n+2){
  background-color: #fff;
}
.table-style1 > tbody > tr:nth-child(2n+1){
  background-color: #eee;
}
.table-style1 > tbody > tr:nth-child(1){
  background-color: #9bf;
  font-weight: bold;
}
.table-style2{
  font-size: 16px;
}
.table-style2 > tbody > tr > td:nth-child(1){
  font-weight: bold;
  background-color: #bfd;
}
.table-style2 > tbody > tr > td:nth-child(2){
  padding: 4px;
  font-size: 13px;
  text-align: left;
}
.table-noStyle{
  margin: 0;
}
.table-noStyle > tbody > tr > td{
  padding: 0;
  border-style: none !important;
}
.table-noBorder > tbody > tr > td{
  border-style: none !important;
}
.table-noPadding > tbody > tr > td{
  padding: 0;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.calcWrapper{
  width: fit-content;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #bdf;
}
.menu-title{
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: bold;
}
.menu-list{
  border: 1px #aaa solid;
}
.menu-list div{
  padding-left: 4px;
}
.menu-list div:nth-child(2n+1){
  background-color: #eee;
}
.sliver{
  display: flex;
  justify-content: center;
}
.sliver img{
  margin: 0 3px;
  height: 18px;
  content: url("../image/icon_/sliver.webp");
}
.fame{
  display: flex;
  justify-content: center;
}
.fame img{
  margin: 0 3px;
  height: 18px;
  content: url("../image/icon_/fame.webp");
}
.MT2px{
  margin-top: 2px;
}
.Xbar{
  margin: 0;
  border-collapse: separate;
  border-spacing: 2px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
.Xbar td{
  padding: 0;
  height: 20px;
  border: 0 #000 solid;
  transition: opacity 100ms ease-in-out;
}
.Xbar td:nth-child(1){
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Xbar td:nth-last-child(1){
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.Xbar:hover td:not(:hover){
  opacity: 0.3;
}
.Xbar-legend{
  display: flex;
  justify-content: flex-start;
}
.Xbar-legend > div{
  display: flex;
  justify-content: flex-start;
  transition: opacity 100ms ease-in-out;
}
.Xbar-legend > div:nth-last-child(n+2){
  padding-right: 16px;
}
.Xbar-legend:hover > div:not(:hover){
  opacity: 0.3;
}
.Xbar-legend > div > div{
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.Xbar-legend > div > span{
  margin: 1px 4px 0 4px;
}

.FS13px{
  font-size: 13px;
}

.bold{font-weight: bold;}
.red{color: #f00;}
.blue{color: #00f;}

.bg-white{background-color: #fff;}

.bg-for{background-color: #fff;}
.bg-lym{background-color: #9d9;}
.bg-bri{background-color: #fe8;}
.bg-mar{background-color: #8bf;}
.bg-the{background-color: #dad;}
.bg-cae{background-color: #faa;}

.bg-a0{background-color: #8bf;}
.bg-a1{background-color: #fe8;}
.bg-a2{background-color: #f99;}
.bg-a3{background-color: #aaa;}

.bg-t1{background-color: #bbb;}
.bg-t2{background-color: #cba;}
.bg-t3{background-color: #8c8;}
.bg-t4{background-color: #8be;}
.bg-t5{background-color: #e99;}
.bg-t6{background-color: #eb8;}
.bg-t7{background-color: #ee8;}
.bg-t8{background-color: #eee;}

.bg-e0{background-color: #eee;}
.bg-e1{background-color: #8f8;}
.bg-e2{background-color: #8ff;}
.bg-e3{background-color: #f8f;}
.bg-e4{background-color: #ff8;}

.bg-q0{background-color: #bbb;}
.bg-q1{background-color: #bce;}
.bg-q2{background-color: #cba;}
.bg-q3{background-color: #eee;}
.bg-q4{background-color: #fe9;}

.bg-m0{background-color: #eee;}
.bg-m1{background-color: #f88;}
.bg-m2{background-color: #ff8;}
.bg-m3{background-color: #fca;}
.bg-m4{background-color: #faa;}
.bg-m5{background-color: #bdf;}
.bg-m6{background-color: #ffd;}
