.bg-white{background-color: #fff;}

.bg-for{background-color: #fff;}
.bg-lym{background-color: #9d9;}
.bg-bri{background-color: #fe8;}
.bg-mar{background-color: #8bf;}
.bg-the{background-color: #dad;}
.bg-cae{background-color: #faa;}

.bg-a0{background-color: #8bf;}
.bg-a1{background-color: #fe8;}
.bg-a2{background-color: #f99;}
.bg-a3{background-color: #aaa;}

.bg-t1{background-color: #bbb;}
.bg-t2{background-color: #cba;}
.bg-t3{background-color: #8c8;}
.bg-t4{background-color: #8be;}
.bg-t5{background-color: #e99;}
.bg-t6{background-color: #eb8;}
.bg-t7{background-color: #ee8;}
.bg-t8{background-color: #eee;}

.bg-e0{background-color: #eee;}
.bg-e1{background-color: #8f8;}
.bg-e2{background-color: #8ff;}
.bg-e3{background-color: #f8f;}
.bg-e4{background-color: #ff8;}

.bg-q0{background-color: #bbb;}
.bg-q1{background-color: #bce;}
.bg-q2{background-color: #cba;}
.bg-q3{background-color: #eee;}
.bg-q4{background-color: #fe9;}

.bg-m0{background-color: #eee;}
.bg-m1{background-color: #f88;}
.bg-m2{background-color: #ff8;}
.bg-m3{background-color: #fca;}
.bg-m4{background-color: #faa;}
.bg-m5{background-color: #bdf;}
.bg-m6{background-color: #ffd;}
