.headMainWrapper{
  min-width: 1000px;
  min-height: calc(100% - 100px - 8px);
}
.head{
  min-width: 1000px;
  height: 50px;
  position: sticky;
  top: 0px;
  background-color: #fd9;
}
.head-homeButton{
  margin: 5px 8px 5px 10px;
  height: 40px;
}
.head-title{
  height: 50px;
  margin-top: 2px;
  line-height: 50px;
  font-size: 30px;
  font-weight: bold;
}
.head-nav{
  margin-left: 6px;
  height: 50px;
  align-items: center;
}
.head-nav a{
  padding: 2px 6px 3px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #730;
}
.head-nav a:hover{
  text-decoration: none;
  background-color: #fec;
}
.mainWrapper{
  display: flex;
  justify-content: center;
}
.main{
  width: 1000px;
  margin-top: 8px;
}
.main-contentsWrapper{
  width: 200px;
  height: fit-content;
  margin-left: 6px;
  position: sticky;
  top: 58px;
  border-radius: 6px;
  background-color: #fffb;
}
.main-contents{
  max-height: calc(100vh - 200px);
  margin: 3px 5px;
  overflow: auto;
}
.main-contents::-webkit-scrollbar{
  width: 6px;
}
.main-contents::-webkit-scrollbar-track{
  margin: 2px 0;
  background-color: none;
}
.main-contents::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #0006;
}
.main-contents::-webkit-scrollbar-thumb:hover{
  border-radius: 4px;
  background-color: #000b;
}
.main-contents-group{
  font-size: 14px;
  font-weight: bold;
}
.main-contents-link{
  margin-left: 10px;
  font-size: 12px;
}
.main-article{
  width: 760px;
  height: fit-content;
  margin-left: 8px;
  padding: 8px;
  border-radius: 6px;
  background-color: #fffb;
  font-size: 16px;
  word-break: break-all;
  word-wrap: break-word;
}
.main-article-paragraph{
  margin-top: 12px;
  padding: 6px;
  border-radius: 4px;
  background-color: #fff;
}
.main-article-title-h1{
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #aaa solid;
  font-size: 26px;
  font-weight: bold;
}
.main-article-title-h2{
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #aaa solid;
  font-size: 20px;
  font-weight: bold;
}
.main-article-foot{
  margin-top: 12px;
}
.main-error{
  padding: 4px 6px;
  position: absolute;
  border: 2px #000 solid;
  border-radius: 4px;
  background-color: #8ff;
  display: none;
  opacity: 0;
  white-space: nowrap;
}
.main-bar-info{
  padding: 4px 6px;
  position: absolute;
  border: 2px #000 solid;
  border-radius: 4px;
  background-color: #fff;
  display: none;
  opacity: 0;
}
.foot{
  min-width: 1000px;
  height: 100px;
  margin-top: 8px;
  background-color: #fd9;
  font-size: 12px;
  text-align: center;
}
.foot-info{
  padding-top: 14px;
}
